<form>
  <h3>Contact</h3>
  <label>Name</label>
  <input id="name" name="name" type="text" placeholder="John Smith" />

  <label>E-mail</label>
  <input id="email" type="email" name="email" placeholder="example@email.com"

  <label>Message</label>
  <textarea id="message" name="message"></textarea>

  
</form>